<h1>Itineraries (<%= @trip.name %>)</h1>

<p>
  <%= link_to 'New', { action: 'new' }, class: 'btn btn-default' %>
</p>

<table class="table">
  <tr>
    <th><%= sortable 'location' %></th>
    <th><%= sortable 'travel_on', 'Travel Date' %></th>
    <th><%= sortable 'estimated_cost' %></th>
    <th>Trip</th>
    <th></th>
  </tr>
<% @itineraries.each do |itinerary| %>
  <tr style="<%= itinerary_row_style(itinerary) %>">
    <td><%= itinerary.location %></td>
    <td><%= itinerary.travel_on %></td>
    <td><%= itinerary.estimated_cost %></td>
    <td><%= itinerary.trip %></td>
    <td>
      <%= link_to 'Show', { action: 'show', id: itinerary.id }, class: 'btn' %>
      <%= link_to 'Edit', { action: 'edit', id: itinerary.id }, class: 'btn btn-default' %>
      <%= link_to 'Delete', { action: 'show', id: itinerary.id }, method: 'delete', confirm: "Are you sure you want to delete this?", class: 'btn btn-default' %>
    </td>
  <tr>
<% end %>
</table>